<footer>
    <p>Copyright &copy; 2023 - All Rights Reserved.</p>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    $(document).ready(() => {
        $("#toggler").click(() => {
            $(".mobile-navbar").toggle();
        });
    });
</script>