<header>
    <div class="navbar">
        <div class="nav-logo">
            <h2 title="Back to Home"><a href="/">Taskmaster</a></h2>
        </div>
        <div class="nav-list">
            <ul>
                <li><a href="/" title="Home">Home</a></li>
                <li><a href="/about" title="About">About</a></li>
                <li><a href="/contact" title="Contact">Contact</a></li>
            </ul>
        </div>
    </div>
</header>