<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/header.ejs') %>
            <%- include('./partials/mobile-header.ejs') %>
                <main>
                    <div class="container">
                        <div class="about-container">
                            <h1>About Taskmaster</h1>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis sed assumenda
                                perferendis.
                                Temporibus doloremque eos obcaecati vero ab illum alias illo quam maxime optio
                                inventore,
                                perspiciatis provident suscipit! Rem possimus minima repellat nisi error perferendis
                                quia
                                nostrum consequuntur! Corporis neque placeat dolor ipsum. A accusantium natus, totam
                                odit
                                tempore earum?</p>
                            <br />
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur voluptatum natus
                                possimus
                                deserunt tempore dignissimos esse sit. Error, incidunt at!</p>
                            <br/>
                            <p>Copyright &copy; 2023 - All Rights Reserved.</p>
                        </div>
                    </div>
                </main>
                <%- include('./partials/footer.ejs') %>
    </body>

</html>