<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/header.ejs') %>
            <%- include('./partials/mobile-header.ejs') %>
                <main>
                    <div class="container">
                        <div class="about-container">
                            <h2>Sorry, page not found!</h2>
                        </div>
                    </div>
                </main>
                <%- include('./partials/footer.ejs') %>
    </body>

</html>