/* Importing Alegreya Font */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Alegreya', serif;
}

body {
  background: linear-gradient(to right, rgb(85, 187, 255), white);
  margin-top: 80px;
}

header {
  background-color: #1d3684;
  box-shadow: 0 3px 10px rgba(100, 100, 100, 0.7);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-logo a {
  color: #fff;
  text-decoration: none;
  font-weight: 800;
}

.nav-list ul {
  display: flex;
  list-style-type: none;
}

.nav-list li {
  padding: 0 10px;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav-list a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
}

.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #213e95;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 3px 10px rgba(100, 100, 100, 0.7);
}

.container-logo h2 {
  color: #fff;
}

.fa-circle-plus {
  font-size: 36px;
  color: #fff;
}

.fa-circle-plus:hover {
  color: rgb(61, 151, 206);
}

.actions {
  border-top: 1px dashed #fff;
  padding-top: 20px;
}

.actions a {
  text-decoration: none;
}

.fa-pen-to-square,
.fa-trash-can {
  font-size: 24px;
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
}

.fa-pen-to-square:hover,
.fa-trash-can:hover {
  color: #1d3684;
}

.btn {
  background-color: #1d3684;
  color: #fff;
  text-decoration: none;
  padding: 7px 10px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(100, 100, 100, 0.7);
}

.btn:hover {
  background-color: transparent;
  color: #1d3684;
  border: 1px solid #1d3684;
}

.note-btn:hover {
  color: #fff;
  border: 1px solid #fff;
}

.notes-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#details {
  grid-template-columns: 1fr;
}

#details .note {
  text-align: center;
}

.notes-container a {
  text-decoration: none;
}

.note,
.zero-container {
  background-color: rgb(61, 151, 206);
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.7);
  border-radius: 10px;
  padding: 40px;
  color: #fff;
}

.zero-container {
  margin-top: 30px;
  text-align: center;
}

.note h2 {
  margin-bottom: 10px;
}

.note p {
  white-space: pre-line;
}

.actions {
  margin-top: 20px;
}

.about-container {
  background-color: rgb(61, 151, 206);
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.7);
  text-align: center;
  padding: 50px;
  color: #fff;
  border-radius: 10px;
}

.about-container h1 {
  margin-bottom: 20px;
}

.form-container {
  padding: 20px;
}

.form-container form {
  background-color: rgb(61, 151, 206);
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.7);
  padding: 40px;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.form-container form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.form-container form input[type="text"],
.form-container form input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid rgb(61, 151, 206);
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(100, 100, 100, 0.7);
}

.form-container form input[type="text"]:focus,
.form-container form input[type="email"]:focus {
  border-color: #1d3684;
}

.form-container form textarea {
  height: 120px;
  padding: 10px;
  resize: none;
  font-size: 16px;
  border: 2px solid rgb(61, 151, 206);
  outline: none;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(100, 100, 100, 0.7);
}

.form-container form textarea:focus {
  border-color: #1d3684;
}

.form-container form input[type="submit"] {
  padding: 7px;
  font-size: 16px;
  border: 2px solid #1d3684;
  outline: none;
  cursor: pointer;
  background-color: #1d3684;
  color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(100, 100, 100, 0.7);
}

.form-container form input[type="submit"]:hover {
  background-color: transparent;
  color: #1d3684;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #1d3684;
  box-shadow: 0 3px 10px rgba(100, 100, 100, 0.7);
  color: #fff;
  font-weight: 500;
}

/* Media Query */
@media only screen and (max-width: 600px) {
  .notes-container {
    grid-template-columns: 1fr;
  }
}
